*:hover > .control-btns {
  visibility: visible;
}
.control-btns {
  padding: 0;
  height: 1.3em;
  position: absolute;
  top: 0;
  line-height: 0;
  visibility: hidden;
}
.btn {
  height: 1.3em;
  width: 1.3em;
  margin: 0;
  padding: 0;
}
.btn-edit::before {
  content: "🖉";
}
.btn-delete::before {
  content: "✘";
  color: maroon;
}
.btn-insertBefore::before {
  content: "🡅";
}
.btn-insertAfter::before {
  content: "🡇";
}
