.file-list {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 10em;
  display: flex;
  min-width: 10em;
  margin-bottom: auto;
}
.file-list > div {
  max-width: 21cm;
  margin-left: auto;
  display: flex;
  flex-flow: row wrap;
}
.file-list-item {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  width: 10em;
  height: 10em;
  border: solid 2px;
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
}
.file-list-dropzone {
  border-style: dashed;
}
.file-list-dropzone::before {
  content: "+";
  font-size: 10em;
  line-height: 1em;
  height: 10em;
  text-align: center;
  margin: 0 auto;
  display: block;
  font-weight: 900;
  color: lightgray;
}
