.login-form {
  display: grid;
  grid-template-areas: "a a" "a a" "b c";
  text-align: right;
  margin: 3em auto;
  font-size: 2rem;
  width: 33vw;
  grid-template-columns: auto 1fr;
  min-width: 10em;
  grid-row-gap: 0.1em;
}
.login-form button {
  margin: auto 3em;
  grid-area: c;
  font-size: 2rem;
}
.login-form input {
  font-size: 2rem;
}
