.project-list {
  padding: 0;
  margin: 0 1em;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 10em;
}
.project-list:only-child > ul {
  margin-left: auto;
}
.project-list > ul {
  padding: 0;
  margin-right: auto;
  max-width: 25em;
  overflow: hidden;
  height: 100%;
}
.project-list li {
  list-style: none;
  font-size: large;
  text-transform: capitalize;
  font-variant: small-caps;
  position: relative;
}
.project-list li > a {
  display: block;
  padding: 1em 0.5em;
  border: double 3px green;
  border-radius: 2em;
  text-align: center;
  height: 1em;
}
.project-list li > a.active {
  background-color: lightblue;
}
