.project-list {
  padding: 0;
  margin: 0 1em;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 10em;
  overflow: auto;
}
.project-list:only-child > div {
  margin-left: auto;
}
.project-list > div {
  margin-right: auto;
  max-width: 25em;
  overflow: hidden;
}
.project-list .project-list-item {
  font-size: large;
  text-transform: capitalize;
  font-variant: small-caps;
  position: relative;
}
.project-list .project-list-item > a {
  display: block;
  padding: 1em 0.5em;
  border: double 3px green;
  border-radius: 2em;
  text-align: center;
  height: 1em;
}
.project-list .project-list-item > a.active {
  background-color: lightblue;
}
.project-list .project-list-item.last-project > a {
  padding: 0;
  height: 3em;
}
.project-list .project-list-item.last-project > a::before {
  content: "+";
  font-weight: 900;
  color: lightgrey;
  text-align: center;
  font-size: 3em;
  line-height: 1em;
}
