localhost:2015 {
  tls off
  root ../client/dist
  rewrite {
  	to {path} /
  }
}

localhost:2015/api {
  tls off
  proxy / localhost:8081 {
    without /api
  }
  startup stack exec markco-exe &
}

localhost:2015/data {
  tls off
  root ./data
}
