localhost:2015 {
  tls off
  proxy /projects localhost:8081
  root ../client/dist
  rewrite /docs/ {
  	regexp .*
  	to /
  }
  startup stack exec markco-exe &
}

localhost:2015/data {
  tls off
  root ./data
}
